.contact-section{
    height: 100vh;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    text-align: center;
}
.contact-inner {
    margin-top: 50px;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;



}

.contact-heading {
    font-family: ubuntu;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    margin-top: 60px;
    color: #fff;

}
.contact-sub {
    font-family: oswald;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    opacity: 0.7;
    text-transform: capitalize;
    color: #ffff
}
.submit-btn{   background-color: #fff;
    font-family: ubuntu;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    align-self: center;
}
.submit-btn:hover{
    background-color: #203a43;
    color: #fff;
}

