.main-header{
        background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
}
.Header-section {

    padding-inline: 90px;
    /*padding from left and right*/

    color: #fff;
    font-family: "ubuntu";
    padding-block: 40px 80px;
    max-width: 1500px;
    margin: 0 auto;




}

.menu-icon {
    display: none
}

.desk-nav a {
    margin-inline: 20px;
    font-family: "ubuntu";
    color: #ffff;
    margin-top: 3px;
    font-size: 1.3 rem;
    cursor: pointer;

}

.desk-nav a:hover {
    color: #ffc107;
    transform: scale(1.2);
    font-weight: 600;
    transition: all 0.1s;

}

.name-nav {
    font-family: "oswald";
    color: #ffff;
    cursor: pointer;
    font-size: 2rem;
    align-items: center;
}

.home-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.text-section {
    white-space: pre-line;
    word-wrap: break-word;
    flex: 1;
    align-items: center;
    margin-top: 30px;



}

.text-section h3 b {
    color: #00ff88;
    font-size: 30px;

}

.text-section p {
    color: white;
    border-top: 3px dashed white;
    font-size: 20px;
    width: max-content;
}

.text-section p b {
    color: #ffc107;

}

.text-description {
    border: none !important;
    font-size: 17px !important;
    word-wrap: break-word !important;
}

.btn-hire-me {
    font-size: 1rem;
    background: transparent;
    color: #fff;
    border-radius: 25px;
    margin-inline: 12px;
    padding: 4px 40px;
    border: 2px solid #fff;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-hire-me:hover {
    transform: translateY(-5px);
    background-color: #ffc107;
    color: #0f2027;
}

.btn-resume {
    font-size: 1rem;
    background: transparent;
    color: #fff;
    border-radius: 33px;
    cursor: pointer;
    padding: 4px 40px;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.btn-resume:hover {
    transform: translateY(-5px);
    background-color: #ffc107;
    color: #0f2027;
}

.custom-img {
    width: 200px;
    border-radius: 33px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    object-fit: contain;
}

.menu-icon:hover {
    transform: scale(1.2);
    z-index: 10;

}

.menu-item {
    background-color: #011221;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.97;
    height: 60vh;
    width: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: open-menu 0.4s ease-in-out;
    z-index: 1;
}

.desk-nav a , .menu-item a {
    text-decoration: none;
    color: white  ;
}

.desk-nav a:hover  , .menu-item a:hover {
    color: #ffc107;
    padding-left: 10px;
    font-weight: 600;
    transition: all 0.3s;
}

li {
    list-style-type: none;
    padding-top: 25px;

}
a.active {
    color: #ffc107;
    border: 2px solid #ffc107;
    padding: 6px;
    border-radius: 5px;
}

a.active:hover {
    padding-left: 6px ! important;
}

@media screen and (max-width:700px) {
    .home-section {
        flex-direction: column;

    }
    .main-header{
        clip-path: none;

    }

    .Header-section {
        clip-path: none;
        padding-inline: 70px;

      
    }

}
@media screen and (max-width : 600px) {
    .menu-item {
        height: 100vh;
        width: 50%;
        border-radius: 0;
    }}

@media screen and (max-width:900px) {
    .desk-nav {
        display: none !important;
    }

    .name-nav {
      
        margin-inline: auto;
        margin-top: 10px;
        
        
    }

    .menu-icon {

        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        cursor: pointer;
        transition: all 9ms ease-in;
    }
     .menu-item {
        height: 100vh;
        width: 50%;
        border-radius: 0;
        z-index: 1;

    }

}
@keyframes open-menu {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 0.97;

        width: 50%;
        height: 100vh;
    }

}
