
.about-section-inside{
    margin-top: 60px;
    flex-direction: column;
    width: 70%;
    max-width: 1500px;
   margin: 0 auto;

}
.custom-img {
    width: 200px;
    border-radius: 33px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    object-fit: contain;
}
.about-section{
    z-index: -1;
}

.about-me-heading{
    font-family: ubuntu;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    
}
.about-me-sub{
    font-family: oswald;
    font-size: 1.2rem;
    text-align: center;
    margin: 10px ;
    opacity : 0.8;
    text-transform: capitalize;
}
.text-about-me{
    padding-block: 12px ;
    font-family: ubuntu;
}